
#description {
	background: #f2f2f2;
    padding: 90px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 992px){
#description {
	padding: 16px;
}}


footer {
	position: relative;
	bottom:0;
	width:100%
}
.content {
    a{
      color: gray;
      text-decoration: none !important;
      .fa fa-2x{
        transition: all .5s;
        &.fa-heart{
          color: #e74c3c;
        }
        &.fa-heart-o{
          &:hover{
            transform:scale(1.1);
          }
        }
    }
}
