body {
	background-color: #f2f2f2 ! important ;
}


.top_spac{ margin: 20px 0 0;}

.text-center{
	padding-top:100px;
}
.py-5 {
	padding-top:50px;
}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.recent_heading h4 b {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.chat_list h5 b{ font-size:20px; color:#057fb9; margin:0 0 8px 0; }
.chat_list h5 span{ font-size:13px;}
.chat_list h5{ font-size:20px; color:#464646;}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll; background: #f8f8f8 }

.delete {
width:15%; 
float:right;
}

a:hover{

color: #ffffff !important;

}

