body {
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.form-horizontal{
  padding: 15px;
  padding-bottom: 100px;
  margin: 0 auto;
}

@media screen and (min-width: 575px){
label {
	text-align:right
}}
