body {
  padding-top: 100px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

label {
	text-align:right
}

footer {
  /*background-color: #082457;*/
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
